{% extends "base.html" %}

<!-- Head -->
{% block head %}
{{ block.super }}

<!-- box.css -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/box.css" />
{% endblock %}

<!-- Body -->
{% block body %}


<!-- Header -->
<div id="header">
{% block header %}<a href="/"><h1>Elena's Homework Website</h1></a>

{% endblock %}
</div>
<!-- End Header -->

<!-- Menu -->
<div id="menu">
{% block menu %}
<ul id='nav'>
<li><a href="/">Home</a></li>
<li><a href="/science">Science</a></li>
<li><a href="/current">Current Events</a></li>
<li><a href="/mathhistory">Math History</a></li>
<li><a href="/pe">P.E.</a></li>
<li><a href="/math">Mathmatics</a></li>
<li><a href="/log">Logs</a></li>
</ul>
{% endblock %}
</div>
<!-- End Menu -->

<!-- Content -->
<div id="content">
{% block content %}
{% endblock %}
</div>
<!-- End Content -->

<!-- Footer -->
<div id="footer">
{% block footer%}
{% endblock %}
</div>
<!-- End Footer -->


{% endblock %}
<!-- End Body -->
