<!DOCTYPE html>
<head>
  <title>{% block title %}Default Title{% endblock %}</title>
  {% block head %}

  <!-- jQuery  -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

  <!-- sig.js -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sig.js.css" />
  <script type='text/javascript' src='{{ STATIC_URL }}javascript/sig.js'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}javascript/wg.sig.js'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}javascript/physics.sig.js'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}javascript/autoform.js'></script>

  <!-- jquery cookies plugin -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js'></script>

  <!-- Javascript for handling async forms with AJAX and django liking the csrf tokens-->
  <script type="text/javascript" src="{{ STATIC_URL }}javascript/django_csrf.js"></script>
  <script type='text/javascript'>setup_django_csrf()</script>

  <!-- CSS for most standard tags -->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />

  <!-- CSS for the menu loaded here -->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/menu.css" />  
  {% endblock %}
</head>

<body>

{% if messages %}
<div id="errors">
{% for message in messages %}
{{ message }}
{% endfor %}
</div>
{% endif %}

{% block body %}{% endblock %}
</body>
</html>
