
#header {
    margin-bottom: 0;
    padding-bottom: 0;
}

div#header h1 {
    padding: 6px;
    margin-left: 25%;
    color: #8cd0d3; /* Number */

    background-color: #3a3a39; /* TabLineSel */
    margin-bottom: 0;

    display: inline-block;
}

body {
    background-color: #434443; /* CursorLine */
}

#footer {
    color: #577f5f; /* Mode Line Face */
}
