
div.inlineEdit {
    border-bottom: 1px dashed #eee; 
}

.formField { 

}
.fieldInput {
   padding: 8px 5px; 
   font-size: 14px; 
   line-height: 1.2em; 
   vertical-align: middle; 
   width: auto; 
   color: #333;
   box-sizing: border-box;
   border: 0; 

/*   font-size: 1.0em;*/
}

input.fieldInput, textarea.fieldInput {
    box-sizing: border-box;
    width: 100%; 
    box-shadow:inset 1px 1px 0px 0px #efefef;
    border: 1px solid #ccc;
    vertical-align: middle;
    color: #333;   width: 300px;
    clear: left; 
    display: block; 
}

textarea { width: auto; }

input:focus {
    background-color: white; 
    border: 1px solid #51A7E8;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
    outline: none; 
}

input[type=range]{
    box-shadow: none;
}

section { overflow: hidden; }

.selectDropdown {
    width: 300px;
    font-weight: bold; 
}

.selectDropdown .chosen, .selectDropdown li.option {
    font-size: 1.0em;
    padding-left: 10px; 
    padding-top: 8px; 
    padding-bottom: 10px; 
}

.selectDropdown .chosen {
    font-weight: bold;
 }
.selectDropdown ul.options { 
    list-style: none; margin: 0; padding: 0;
    border: 1px solid #d5d5d5; }
.selectDropdown ul.options li.option:first {
    border-top: 0px; 
} 
.selectDropdown ul.options li.option {
    border-top: 1px solid #d5d5d5; 
}
.selectDropdown .dropdown-icon {
    float: right;
    margin: 4px 10px; 
}

.formField {
    margin-top: 10px; 
}

button.formField {
    padding: 8px; 
    border: 0px; 
    color: white; 
}


.primary {
    background-color:#56C4C3;
    color: white; 
    font-weight: bold; 
}

.secondary {
    background-color:#ddd;
    color:white; 
    font-weight: bold;
}

.secondary:hover {
    background-color:#cdcdcd; 
}

.primary:hover {
    background-color:#5FD9D8;
}
