
/* Zenburn based theme */

#header {
    margin-bottom: 0;
    padding-bottom: 0;
}

#errors {
    background-color: #FF5454;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}

div#header h1 {
    padding: 6px;
    margin-left: 25%;
    color: #8cd0d3; /* Number */

    background-color: #3a3a39; /* TabLineSel */
    margin-bottom: 0;

    display: inline-block;
}

a:link {
    color: #D4C4A9;
    font-weight: 700;
}

a:visited {
    color: #7F9F7F;
}

a:hover {
    color: #D4C4A9;
}

a:active {
    color: #8CD0D3;
}


h2, h3, h4, h5, h6, h7, th {
    color: #8cd0d3; /* Number */
}

p, td {
    color: #dcdccc; /* Font Lock Negation Char Face */
}

body {
    background-color: #434443; /* CursorLine */
    width: 100%;
    padding: 0;
    margin: 0;
}

label {
    color: #dfbe95; /* zenburn yellow */
    font-weight: bold;
}

#content {
    width: 800px;
    margin: 0 auto;
}

#footer {
    color: #577f5f; /* Mode Line Face */
    overflow: auto;
    background-color: #3a3a39; /* TabLineSel */
}
