
/* Zenburn based theme */

/* Div containing the menu */
#menu { 
    overflow: hidden;
    text-align: center;
    background-color: #3a3a39; /* TabLineSel */
    
    padding-top: 0;
    margin-top :0;
}

/* ul inside the div */
#nav {
    list-style: none;
    display: inline-block;
    overflow: hidden;
}

#nav li {
    float: left;
}

#nav li a {
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #2B2B2B; /* CursorLine */
    color: #f0dfaf; /* Keyword */
    text-align: center;

    border-bottom:3px;
    border-bottom-color:#000000;
    border-bottom-style:solid;
}

#nav li a:hover
{
    color: #cc9393; /* String */
}